data/* filter=lfs diff=lfs merge=lfs -text
experiments/bottom-up filter=lfs diff=lfs merge=lfs -text
experiments/pointer-generator filter=lfs diff=lfs merge=lfs -text
experiments/fast-abs-RL filter=lfs diff=lfs merge=lfs -text
experiments/testing filter=lfs diff=lfs merge=lfs -text
data/bottom-up filter=lfs diff=lfs merge=lfs -text
data/fast-abs-RL filter=lfs diff=lfs merge=lfs -text
data/pointer-generator filter=lfs diff=lfs merge=lfs -text
data/testing filter=lfs diff=lfs merge=lfs -text
